# numerous always-ignore extensions
pids/
logs/
results/
lib-cov
*.apk
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.diff
*.err
*.swp
*~

# od or editor folders
.cache
.project
.settings
.tmproj
.idea

# custom
/target
*/target/
target/
cupenya-root-war/*/target
project/project/target/*
*.iml
.idea
.project
*/.project
.classpath
*/.classpath
.settings
*/.settings
cupenya-root
*-db.h2.db
*-db.lock.db
Thumbs.db
*.sublime-workspace
.history
.ensime
.ensime_cache/*